<div>


  <div class="container">
    <label class="input-field" for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" (input)="checkPassword()">
  </div>
  <div class="password-strength">
    <div class="dot"
      [ngStyle]="{'background-color': isAny ? 'gray': isWeak ? 'red': isMedium ? 'yellow': isStrong ? 'green': 'gray'}">
    </div>
    <div class="dot"
      [ngStyle]="{'background-color': isAny ? 'gray' : isWeak ? 'gray' : isMedium ? 'yellow': isStrong ? 'green': 'gray'}">
    </div>
    <div class="dot"
      [ngStyle]="{'background-color': isAny ? 'gray' : isWeak ? 'gray' : isMedium ? 'gray': isStrong ? 'green': 'gray'}">
    </div>
  </div>
</div>